version: '3.4'

services:
  server:
    container_name: utdi_server
    image: utdi_server_base
    build:
      context: ./server
      target: base
    volumes:
      - ./server:/usr/src/app
    command: ["python", "src/main.py"]
    env_file: .env
  ra_pha:
    container_name: utdi_ra_pha
    image: utdi_ra_pha_base
    volumes: 
      - ./random_phrases:/usr/src/app
    build:
      context: ./random_phrases/
      target: base
    command: ["npm", "start"]
